:root {
            --bg-base: #F7FAFC;
            --bg-card: #FFFFFF;
            --border-subtle: #E2E8F0;
            --text-primary: #2B6CB0;
            --text-success: #38A169;
            --text-warning: #DD6B20;
            --text-dark: #2D3748;
            --text-soft: #718096;
        }


h1{
    font-family: 'Poppins', sans-serif;
    color:var(--text-dark)
}

.nexus {
    color: #2B6CB0;
}

nav {
    background-color: var(--bg-base);
    width: 100vw;
    height: 80px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
    color: #2B6CB0;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.right-nav {
    margin-left: auto;
    display: flex;
    align-items: center;
    height: 100%;
}

.right-nav li:hover {
    cursor: pointer;
    background-color: var(--border-subtle);
    padding-top: 29px;
    padding-bottom: 29px;
}

nav a{
    text-decoration: none;
    color:var(--text-dark);
    font-weight: bold;
    align-self: center;
}

li{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0 20px;
    font-size: 18px;
    width: 200px;
    text-align: center;
}

.button-mode{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;;
    font-size: 2rem;
    border: none;
    background: transparent;
}