:root {
            --bg-base: #F7FAFC;
            --bg-card: #FFFFFF;
            --border-subtle: #E2E8F0;
            --text-primary: #2B6CB0;
            --text-success: #38A169;
            --text-warning: #DD6B20;
            --text-dark: #2D3748;
            --text-soft: #718096;
        }

        .dark-mode {
    --bg-base: #181A20;
    --bg-card: #23262F;
    --border-subtle: #353945;
    --text-primary: #6C8AE4;
    --text-success: #43D9AD;
    --text-warning: #FFB86C;
    --text-dark: #F7FAFC;
    --text-soft: #A3A3A3;
}

.delete-button {
    background-color: transparent;
    color: var(--text-warning);
    border: none;
    cursor: pointer;
    margin: 20px;

}

.profile-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  max-width: 300px;
  min-width: 300px;
  margin: 0 auto; /* Center horizontally */
}

.paragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Center horizontally */
  text-align: center;  /* Center text */
}

.Main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Center horizontally */
  min-height: 100vh;   /* Center vertically if desired */
  text-align: center;  /* Center text */
}

.versus {
    font-size: xx-large;
    margin: 20px;
}

.user-stats-info{
    display: flex;
    flex-direction: row;
    color: var(--text-dark);
    margin: 20px;
}

.stats-item{
    height: 100px;
    width: 150px;
    justify-content: center;
    align-content: center;
    margin: 10px;
}

.stats-item h4{
   font-size: 1.2rem;
}

.lastUpdate {
    font-size: small;
    color: var(--text-soft);
}

.main-page-header-container{
    display:flex;
    flex-direction: column;
    height: 10vh;
    margin-top: 50px;
}

.stats-item-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: var(--text-dark);
    margin: 20px;
}

.stats-item-container h3{
    color: var(--text-primary);
    font-size: 1.5rem;
}

.stats-item-container h4{
    color: var(--text-soft);
    font-size: 0.9rem;
    margin-bottom: 5px;
}

.main-page-header-container{
    margin-bottom: 7rem;
    margin-top: 10rem;
}

.main-page-header-container h1{
    font-size: 3.5rem;
    margin-bottom: 10px;
}

.searchInput {
    min-width: 80%;
    max-width: 700px;
    padding: 10px;
    border: 1px solid var(--border-subtle);
    border-radius: 0.375rem; /* Equivalent to rounded-md */
    font-size: 1rem;
    color: var(--text-dark);
    margin: 30px
}

.compare{
   scale: 1.5;
   margin-right: 0.5rem;
}

.profile-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: solid 3px var(--text-primary);
}

.main-page-header-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}